<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>

</head>
<body>
<div th:replace="base :: navbarmenu"></div>


<h2>List of Items</h2>
<div th:replace="base :: navlinks"></div><br/><br/>

<span sec:authorize="isAuthenticated()">
Welcome <b><p sec:authentication="name">!</p></b>
  <!--<p>You are signed in as a<p sec:authentication="principal.authorities"></p></p>-->
</span>



<div class="container">
    <table class="table" title="items" >
        <thead>
        <tr>
            <th>Submission ID</th>
            <th>Image</th>
            <th>Name</th>
            <th>Category</th>
            <th>Date Lost</th>
            <th>Description</th>
            <th>Found</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${items}">
            <td th:text="${item.id}"></td>

            <!--<td><img class="img-rounded" th:src="${item.image}" alt="Item Picture" style="width:30%" /></td>-->
            <td><img th:if="(${item.image}==null)?'http://www.flydulles.com/sites/default/files/field/image/istock_lost_found_web.jpg':${item.image}" alt="Item Picture" style="width:30%"/></td>

            <td th:text="${item.itemName}"></td>

            <td th:text="${item.itemCategory}"></td>

            <td th:text="${item.dateLost}"></td>

            <td th:text="${item.description}"></td>

            <td th:text="${item.found}"></td>
            <td>
                <a th:href="@{/detail/{id}(id=${item.id})}">Details</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>