<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>

</head>
<body>
<div th:replace="base :: navbarmenu"></div>


<h2>List of Your Items</h2>
<div th:replace="base :: navlinks"></div><br/><br/>

<div class="container">

<p><span sec:authorize="isAuthenticated()">
Welcome <b><p sec:authentication="name">!</p></b>
       </span></p>

    <table class="table" title="currentItems">
        <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Category</th>
            <th>Date Lost</th>
            <th>Description</th>
            <th>Found</th>
        </tr>
        </thead>
        <tbody>
        <!--<tr th:each="user : ${users}">-->
        <!--<td th:text="${user.getId()}"></td>-->
        <!--</tr>-->
        <tr th:each="item : ${items}">
            <td th:text="${item.image}"></td>

            <td th:text="${item.itemName}"></td>

            <td th:text="${item.itemCategory}"></td>

            <td th:text="${item.dateLost}"></td>

            <td th:text="${item.description}"></td>

            <td th:text="${item.found}"></td>
            <td>
                <a th:href="@{/detail/{id}(id=${item.id})}">Details</a>
            </td>
            <td><a th:href="@{/update/{id} (id=${item.id})}">Update</a></td>
            <td><a th:href="@{/found/{id} (id=${item.id})}">Found</a></td>
            <td><a th:href="@{/lost/{id} (id=${item.id})}">Lost</a></td>
        </tr>
        </tbody>
    </table>




    <!--<div th:each="eachItem:${items}">-->
        <!--<p th:text="${eachItem.itemName}"></p>-->
        <!--<h4><a th:href="@{/addactortomovie/{id}(id=${eachItem.id})}" th:inline="text">Add actors</a></h4>-->
        <!--<div>-->
            <!--<h3>Actors:</h3>-->
            <!--<div th:each="eachActor:${eachMovie.actors}">-->
                <!--<p th:text="${eachActor.realName}"></p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

</div>
</body>
</html>